<app-cart-sidebar></app-cart-sidebar>
<app-header></app-header>
<main>
  <app-hero-section></app-hero-section>
  <app-book-grid
    [books]="featuredBooks()"
    [isFallBack]="featuredBooksFallback()"
    title="Discover Featured Book"
    description="Congue, gravida placeat nibh sunt semper elementum anim integer lectus debitis auctor."
  >
  </app-book-grid>
  <app-categories-section [categories]="categories()"></app-categories-section>

  @if (spotlightBook(); as book) {
    <app-featured-book
      [title]="book.title"
      [subtitle]="'featuredBook'"
      [author]="book.author"
      [description]="'Explore this handpicked title from our collection.'"
      [image]="book.image ?? ''"
      [price]="'$' + book.price"
    >
    </app-featured-book>
  }

  @if (spotlightAuthor(); as author) {
    <app-author-section
      [name]="author.name"
      [IsFallBack]="spotlightAuthorFallback()"
      [bio]="author.bio"
      [image]="author.image ?? null"
      [id]="author.authorId"
    >
    </app-author-section>
  }
  <app-book-grid
    [books]="editorsPicks()"
    [isFallBack]="editorsPicksFallback()"
    title="Picked By Editors"
    description="Congue, gravida placeat nibh sunt semper elementum anim integer lectus debitis auctor."
    [showViewMore]="false"
  >
  </app-book-grid>

  <app-newsletter-section></app-newsletter-section>
</main>
<app-footer></app-footer>
